# Copier en .env et adapter
# IP de l'ESP32 (Brainslug) sur le D7
MQTT_BROKER=192.168.10.126
MQTT_PORT=1883
MQTT_PREFIX=neato/robot
SLAM_MODE=mapping
REST_PORT=2000
WS_PORT=2001
ROSBRIDGE_PORT=2002
WS_IN_PORT=2003
ROBOT_TYPE=d7_gen3
